{% extends 'base.html' %}

{% block title %} 2D | Water Project {% endblock %}

{% block content %}
    <h1>Two Dimension Testing</h1>

    <hr>

    <h3>Problem:</h3>
    <p>An air force base was found to be releasing sewage into groundwater! The spill of the sewage continues to happen without stopping! In order to protect the local residents near the air force base, we need to know where the groundwater has been contaminated and stop local residents from using groundwater. The following program can help you check which locations contain polluted water and we can stop it from being used!</p>

    <h3>Model Application:</h3>
    <p>Look at the map, the sewage spill happens at the red dot location. Use the three built-in variables to check how the sewage spreads. Use the time variable to check the spread pattern as time passes after the start of the spill. The velocity variable represents how fast the groundwater is moving towards the right on the map. The dispersion factor is a soil property that determines how much more the sewage spreads laterally to the main direction of groundwater flow. It can also be understood as the the length to width ratio of the shape of the spreading plume. Adjust the three variables and check how the spread pattern of the sewage changes over time!</p>

    <h3>Questions:</h3>
    <ol>
        <li>What happens to the shape of the contaminant spreading as the dispersion factor increases?</li>
        <li>If time and dispersion factor stay constant, what happens to the contaminant spreading as the velocity changes?</li>
        <li>Observe and describe the shape of the contaminant spreading as times goes on. Does the spreading pattern stop changing after a specific period of time?</li>
    </ol>

    <h3>Advanced Questions:</h3>
    <ol>
        <li>The local city policy sets the limit of concentration at 3 kg/m^2 before the underground water can threaten the health of local residents. With a flow velocity of 2.1 meter/day, dispersion factor of 0.1, and aquifer thickness of 3 meters, would the residents live near (x=60000,y=0) be able to use underground water safely after 6 years?</li>
        <li>Knowing the flow velocity is 1.1 meter/day, dispersion fraction is 0.05, and aquifer thickness is 3 meters, after how much time the concentration would reach a steady state if no other variables are considered?
            <ul>
                <li>*Steady State refers to the status where the concentrations are not changing anymore in the area of interest.</li>
            </ul>
        </li>
    </ol>

    <hr>

    <iframe src="https://twodimensiontesting.herokuapp.com/app" width="1000" height="700" style="border: none"></iframe>

{% endblock %}